.head1{
    display:flex;
    cursor: pointer;
}

.head1 p{
    padding: 10px;
}


.head3{
    display: flex;
    justify-content: space-between;
}
.head2{
    margin-right: 15px;
}

.head2 img{
    padding: 5px;
    cursor: pointer;
}

.line{
    width:100%;
    border: solid 1px rgb(244, 235, 68);
}

.head4{
    display: flex;
    justify-content: center;
}

#font{
    font-family:font;
    font-size: 30px;
}
#font::first-letter{
    color: red;
}

@font-face{
    font-family: font;
    src: url("/style/font1/YamakaPersonalUsed-VGrrx.otf");
}

.line2{
    width: 10px;
    height: 10px;
    border: solid 2px rgb(244, 235, 68);
    margin-top: 37px;
    background-color: rgb(244, 235, 68);
    border-radius: 30px;
    margin-left: 5px;
}

.search {
    display: flex;
    justify-content: center;

}



.search input{
    border: solid 4px rgb(244, 235, 68);
    background-color: #c3c4c7;
    width: 500px;
    height: 40px;
    text-align: center;
    color: black;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    
}


.grid-container{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto;
    padding: 15px;
    column-gap: 20px;
    row-gap: 5px;
}


.griditem{
    background-color:#f6f7f7;
    border: 0px solid rgb(0, 0, 0, 0.8);
    padding: 12px;
    font-size: 17px;
    text-align: center;
    font-family:serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.griditem::first-letter{
    color: red;
    font-size: 20px;
}

.griditem:hover{
    background-color: #cbcdd5;
    transition: background 2s;
}

.shop{
    display: flex;
    justify-content: end;
}

.shop img{
    padding: 5px;
    margin-right: 15px;
    cursor: pointer;
}


#yello{
    background-color: rgb(244, 235, 68);
}

main{
    background-color: rgb(143, 200, 200);;;
}

.contact3{
    display: flex;
    justify-content: center;
    background-color: rgb(143, 200, 200);;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    column-gap: 100px;
    
}

.contact2{
    width:220px ;
    height: 200px;
    background-color: white;
    margin-top: 30px;
    border: solid 2px ;
    text-align: center;
    border-radius: 30px;
    background-color: #d3e7e7; 
    cursor: pointer;
}

.contact2:hover{
    background-color: #6878a8;
    transform: scale(1.03);
    transition: transform 1s, background 2s;
    transform: rotate(5deg);
    transform: skewy(5deg);
}

.contact2 img{
    margin-top: 15px;
}

.contactfull{
    display: grid;   
    grid-template-columns: auto;
    justify-content: center;
    grid-gap:30px;
    
}

.contactfull input{
    margin-top: 15px;
}

.contactname input{
   padding: 10px;
   width: 300px;
   border-radius: 30px;
}

.contactemail input{
    padding: 10px;
    width: 300px;
    border-radius: 20px;
 }
 

 .contactinput input{
    padding: 10px;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    text-align:center;
    
 }
 
#sub{
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-left: 80px;
    border-radius: 20px;
}

#sub:hover{
    background-color: rgb(74, 213, 46);;
    transition: background 2s, color 2s, transform 2s;
    transform:scale(1.05);
}

.background{
    background-color: rgba(90,164,176,1) ;
    margin-left: 500px;
    margin-right: 500px;
    height: 500px;
    border-radius: 20px;
    border: dashed 3px black;
}


#texts{
    text-align: center;
    margin-top: 10px;
    color: white;
}





main h1{
    text-align: center;
    color: white;
}

.socialmedia{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}


.socialmedia img{
    border: solid 3px black;
    border-radius: 15px;
    cursor: pointer;
}

.socialmedia img:hover{
    transform: scale(1.08);
    transition: transform 1s;
}

.phone{
    display: flex;
    column-gap: 150px;
}

.phone li{
    cursor: pointer;
}


.phone li:hover{
    color:rgb(244, 235, 68); 
    transform: scale(1.05);
    transition: color 2s, transform 2s;
}




.send input{
    border-radius: 15px;
    border: solid 2px black;
}

.send button{
    border-radius: 15px;
    border: solid 2px black;
}


.img2{
    position: fixed;
    top: 90px;
    
}


.img2 img{
    display: block;
    margin: 5px;
    border: solid 2px black;
    border-radius: 15px;
    cursor: pointer;
}

.img2 img:hover{
    margin-left: 15px;
    width: 26px; height: 26px;
    transition: margin-left 1s;
}





#georgia{
    border-radius: 30px;
    margin-bottom: 30px;
    transform: skewY(5deg);
    cursor: pointer;
}

#georgia:hover{
    transform: skew(-10deg);
    transition: transform 2s;
}



















.foter1{
   
    background-color:#3f5599;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    padding: 15px;
    column-gap:200px;
   
    
    
    
}


#pay{
    border: solid 2px black;
    border-radius: 20px;
}

.information img{
    border: solid 2px black;
    
}

.information a{
    text-decoration: none;
    color: black;
}

.information a:hover{
    color:hsl(57, 41%, 55%);
    transition: color 0.5s;
}


.azri{
    display: grid;
    justify-content: center;
    
}

.azri input{
    width: 200px;
    height: 150px;
    text-align: center;
}

.azri button{
    cursor: pointer;
}

.azri button:hover{
    color: black;
    background-color: rgb(244, 235, 68);
    transition: background 2s, color 2s;
}




