.head1{
    display:flex;
    cursor: pointer;
}

.head1 p{
    padding: 10px;
}


.head3{
    display: flex;
    justify-content: space-between;
}
.head2{
    margin-right: 15px;
}

.head2 img{
    padding: 5px;
    cursor: pointer;
}

.line{
    width:100%;
    border: solid 1px rgb(244, 235, 68);
}

.head4{
    display: flex;
    justify-content: center;
}

#font{
    font-family:font;
    font-size: 30px;
}
#font::first-letter{
    color: red;
}

@font-face{
    font-family: font;
    src: url("style/font1/YamakaPersonalUsed-VGrrx.otf");
}

.line2{
    width: 10px;
    height: 10px;
    border: solid 2px rgb(244, 235, 68);
    margin-top: 37px;
    background-color: rgb(244, 235, 68);
    border-radius: 30px;
    margin-left: 5px;
}

.search {
    display: flex;
    justify-content: center;

}



.search input{
    border: solid 4px rgb(244, 235, 68);
    background-color: #c3c4c7;
    width: 500px;
    height: 40px;
    text-align: center;
    color: black;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    
}


.grid-container{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto;
    padding: 15px;
    column-gap: 20px;
    row-gap: 5px;
}


.griditem{
    background-color:#f6f7f7;
    border: 0px solid rgb(0, 0, 0, 0.8);
    padding: 12px;
    font-size: 17px;
    text-align: center;
    font-family:serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.griditem::first-letter{
    color: red;
    font-size: 20px;
}

.griditem:hover{
    background-color: #cbcdd5;
    transition: background 2s;
}

.shop{
    display: flex;
    justify-content: end;
}

.shop img{
    padding: 5px;
    margin-right: 15px;
    cursor: pointer;
}





.ganlageba{
    display: flex;
    justify-content: center;
}


* {
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
}

.myPictures {
    display: none;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -25px;
    padding: 18px;
    color: red;
    font-weight: bold;
    font-size: 48px;
    transition: 0.6s ease;
    border-radius: 0 4px 4px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.previous:hover, .next:hover {
    background-color: rgb(33, 31, 31);
}

.pictureText {
    color: rgb(163, 163, 49);
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.textNumber {
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 4px;
    background-color: rgb(240, 134, 5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activeDot, .dot:hover {
    background-color: antiquewhite;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: 0.3}
    to {opacity: 1;}
}



.top {
    position: absolute;
    left: 16px;
    margin-top: 140px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    cursor: pointer;
  }
  .top:hover{
    color: rgb(92, 87, 87);
  }

  .top1 {
    position: absolute;
    margin-top: 330px;
    left: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    cursor: pointer
  }
  .top1:hover{
    color: rgb(92, 87, 87);
  }

  .top2 {
    position: absolute;
    margin-top: 520px;
    left: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    cursor: pointer;
  }
  .top2:hover{
    color: rgb(92, 87, 87);
  }

.img2{
    position: fixed;
    top: 90px;
    
}


.img2 img{
    display: block;
    margin: 5px;
    border: solid 2px black;
    border-radius: 15px;
    cursor: pointer;
}

.img2 img:hover{
    margin-left: 15px;
    width: 26px; height: 26px;
    transition: margin-left 1s;
}

#satauri::first-letter{
    color: red;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#paragaph::selection{
    color: rgb(221, 124, 124);
    background-color:rgb(92, 87, 87); 
}


.moreText{
    display: none;
}

.text.show-more .moreText{
    display: inline;
}

.brand{
    width: 250px;
    margin: 30px;
}
.brand img{
    border: solid 2px black;
    border-radius: 30px;
    cursor: pointer;
}

.brand img:hover{
    transform: scale(1.05);
   transition: transform 1s;
}

.brand2{
    display: flex;
    justify-content: center;
}

.brand2 p{
    text-align: center;
    font-family:serif ;
}

.line3{
    width:100%;
    border: solid 1px rgb(244, 235, 68);
}

.mainbuy{
    display: flex;
    justify-content: center;
}

.mainbuy img{
    border: solid 2px black;
    border-radius: 30px;
    cursor: pointer;
}

.mainbuy img:hover{
   transform: scale(1.05);
   transition: transform 1s;
   
}

.mainbuy div{
    margin: 20px;
}

.buy{
    display: flex;
    justify-content: space-between;
}

.mainbuy button{
    background-color:rgb(244, 235, 68);
    border-radius: 15px;
    width: 80px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: solid 0px black;
}

.mainbuy button:hover{
    background-color: black;
    color: white;
    transition: background 1s, color 1s;
}


#mostsale{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mostsale::first-letter{
    color: red;
    font-size: 30px;
}

.mainbuy2{
   
    display: flex;
    justify-content: center;

}

.mainbuy2 img{
    cursor: pointer;
}
.mainbuy2 img:hover{
    transform: scale(1.05);
   transition: transform 1s;
}
.mainbuy2 div{
    margin: 25px;
}

.buy2{
    display: flex;
    justify-content: space-between;
}

.mainbuy2 button{
    background-color:rgb(244, 235, 68);
    border-radius: 15px;
    width: 80px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: solid 0px black;
}

.mainbuy2 button:hover{
    background-color: black;
    color: white;
    transition: background 1s, color 1s;
}

#xazi{
    text-decoration: line-through;
}

#witelixazi{
    color: red;
    font-size: 20px;
}


.wertili{
    display: flex;
    justify-content: center;
}

.infofull{
    display: flex;
    justify-content: center;
}



.info{
    width:1200px ;
    height:220px ;
    border-radius: 15px;
    background:  #d13d3d;
    display: flex;
    justify-content:center ;  
    
}

.info1{
    width: 250px;
    margin: 30px;
}

.info1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}







.info1 img{
    justify-content: center;
}


form{
    border: solid 2px;
    border-radius: 30px;
    padding: 50px;
    background-color: #6d7490;
}

#firstname{
    border-radius: 5px;
    padding: 5px;
}

#lastname{
    border-radius: 5px;
    padding: 5px;
}

#username{
    border-radius: 5px;
    padding: 5px;
}

#password{
    border-radius: 5px;
    padding: 5px;
}

#email{
    border-radius: 5px;
    padding: 5px;
}

#register{
    margin-left: 40px;
    cursor: pointer;
}

#register:hover{
    background-color: green;
}


main{
    background-color: rgb(162, 210, 210);
    padding: 50px;
}
























.foter1{
   
    background-color:#3f5599;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    padding: 15px;
    column-gap:200px;
   
    
    
    
}


#pay{
    border: solid 2px black;
    border-radius: 20px;
}

.information img{
    border: solid 2px black;
    
}

.information a{
    text-decoration: none;
    color: black;
}

.information a:hover{
    color:hsl(57, 41%, 55%);
    transition: color 0.5s;
}


.azri{
    display: grid;
    justify-content: center;
    
}

.azri input{
    width: 200px;
    height: 150px;
    text-align: center;
}

.azri button{
    cursor: pointer;
}

.azri button:hover{
    color: black;
    background-color: rgb(244, 235, 68);
    transition: background 2s, color 2s;
}

.send input{
    border-radius: 15px;
    border: solid 2px black;
}

.send button{
    border-radius: 15px;
    border: solid 2px black;
}










main{
    display: flex;
    justify-content: center;
}





